.listDescription
{
  font-size: 12px;
  line-height: 0.5em;
}
.listAvatar
{
    font-size:20px !important;

}
.ant-card-body {
    padding: 8px !important;
    zoom: 1;
}
.ant-list-item-meta-title
{
    line-height: 12px !important;
}
.listTitle
{
    font-weight: bold !important;
}
.listPercent
{
    position: absolute ;
    bottom: 10px;
    right: 10px;

}

.ant-card-body{
    border-bottom:'1px solid'
}
.ant-col-4
{
width: 20% !important;
/* padding-right:opx  */
    
}
.allIndentsCard
{
    border-bottom: 2px solid;
}
.ant-row{
    /* margin-right: -26px !important; */
}